<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
  </head>
  <body>
    <a name="add_bookmark" href="/create_bookmark">Add bookmark</a>
    <ul>
    <% @list.each do |url| %>
      <li><%= url %></li>
    <% end %>
    </ul>
  </body>
</html>