<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
  </head>
  <body>
    <a name="add_bookmark" href="/create_bookmark">Add bookmark</a>
    <ul>
    <% @list.each do |bookmark| %>
      <li><a href="<%= bookmark['url'] %>"><%= bookmark['title'] %></a></li>
    <% end %>
    </ul>
  </body>
</html>