<!DOCTYPE html>
<html>
  <head>
    <title>Create Bookmark</title>
  </head>
  <body>
    <form method="post" action="/save_bookmark">
      <input type="text" name="url" value=""/>
      <input type="submit" name="submit"/>
    </form>
  </body>
</html>
